<%= simple_form_for ([@project, @specialty, @task] ), html: { class: "form-group"} do |f| %>
  <% if @task.errors.any? %>
    <div id=“error_explanation”>
      <ul>
        <% @task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-inputs">
    <%= f.input :specialty, input_html: { placeholder: "plumbing, roofing, painting...", class: 'form-control' } %>
    <%= f.input :priority, input_html: { placeholder: "1, 2 , 3", class: 'form-control' } %>
    <%= f.input :name, input_html: { placeholder: " Name it !", class: 'form-control' } %>
    <%= f.input :description, input_html: { placeholder: "be specific...", class: 'form-control' } %>
    <%= f.input :budget, input_html: { placeholder: "", class: 'form-control' } %>
    <%= f.input :status, collection: [ "Stand by", "Pending Ok", "Pending Blocked", "Closed", "Adandonned", "Completed"], input_html: {  class: 'form-control' } %>
    <%= f.input :progress, input_html: { placeholder: " 35 (for 35%) -->minimum: 5  ", class: 'form-control' } %>
    <div class="button-group" style="position: relative;">
      <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
          Add Dependencies
      </button>
      <ul class="dropdown-menu" id="dependency-dropdown-menu">
        <% Specialty.where("project_id = ? AND id != ?", @project.id, (@specialty.id || 9999)).each do |specialty| %>
          <li>
            <a href="#" class="small" data-value="<%= specialty.id %>" tabIndex="-1">
              <input name="possible_dependencies[<%= specialty.id %>]" type="hidden" value="present">
              <input name="dependencies[<%= specialty.id %>]" type="checkbox" <%= "checked" if @specialty.is_dependent_on.to_a.include?(specialty) %> /> <%= specialty.name %>
            </a>
          </li>
        <% end %>
      </ul>
    </div>    
    <%= f.input :start, as: :string, input_html: { id: "start_date",placeholder: "", class: 'form-control datepicker' } %>
    <%= f.input :finish, as: :string, input_html: { id: "end_date", placeholder: "", class: 'form-control datepicker' } %>
    <%= f.select :user, options_for_select(User.all.to_a.map { |obj| [obj['username'], obj['id']] }) %>
  </div>
  <div class="form-actions">
    <%= f.submit class: "btn btn-success" %>
  </div>
<% end %>

<% content_for(:after_js) do %>
  <script type="text/javascript">
    $(document).ready(function(){
        $('.datepicker').datepicker({
          format: 'dd/mm/yyyy'
      });
    });
  </script>
<% end %>
