<%= simple_form_for ([@project, @specialty, @task] ), html: { class: "form-group"} do |f| %>
  <% if @task.errors.any? %>
    <div id=“error_explanation”>
      <ul>
        <% @task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-inputs">
    <%= f.input :specialty, input_html: { placeholder: "plumbing, roofing, painting...", class: 'form-control' } %>
    <div class="doublefields">
      <%= f.input :priority, input_html: { placeholder: "1, 2 , 3", class: 'form-control' } %>
      <%= f.input :budget, input_html: { placeholder: "", class: 'form-control' } %>
    </div>
    <%= f.input :name, input_html: { placeholder: "What is your task?", class: 'form-control' } %>
    <%= f.input :description, input_html: { placeholder: "be specific...", class: 'form-control' } %>
    <%= f.input :status, collection: [ "Stand by", "Pending Ok", "Pending Blocked", "Closed", "Adandonned", "Completed"], input_html: {  class: 'form-control' } %>
    <%= f.input :progress, input_html: { placeholder: " 35 (for 35%) -->minimum: 5  ", class: 'form-control' } %>
    <div class="button-group" style="position: relative;">
      <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
          Add Dependencies
      </button>
      <ul class="dropdown-menu" id="dependency-dropdown-menu">
        <% Task.where("specialty_id = ? AND id != ?", @specialty.id, (@task.id || 9999)).each do |task| %>
          <li>
            <a href="#" class="small" data-value="<%= task.id %>" tabIndex="-1">
              <input name="possible_dependencies[<%= task.id %>]" type="hidden" value="present">
              <input name="dependencies[<%= task.id %>]" type="checkbox" <%= "checked" if @task.is_dependent_on.to_a.include?(task) %> /> <%= task.name %>
            </a>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="doublefields">
      <%= f.input :start, as: :string, input_html: { id: "start_date",placeholder: "", class: 'form-control datepicker' } %>
      <%= f.input :finish, as: :string, input_html: { id: "end_date", placeholder: "", class: 'form-control datepicker' } %>
    </div>
    <div class="doublefields">
      <%= f.select :user, options_for_select(User.all.to_a.map { |obj| [obj['username'], obj['id']] }), id: 'user-toggle' %>
      <%= f.input :photo, as: :attachinary %>
    </div>
    <div class="form-actions">
      <%= f.submit class: "btn btn-success" %>
    </div>
  <% end %>
</div>
<% content_for(:after_js) do %>
  <script type="text/javascript">
    $(document).ready(function(){
      $('.datepicker').datepicker({
        format: 'dd/mm/yyyy'
      });

      var options = [];

      $('.dropdown-menu a').on('click', function( event ) {

        var $target = $(event.currentTarget),
          val = $target.attr( 'data-value' ),
          $inp = $target.find( 'input' ),
          idx;

        if ((idx = options.indexOf(val)) > -1) {
            options.splice( idx, 1 );
            setTimeout( function() { $inp.prop( 'checked', false ) }, 0);
        } else {
            options.push( val );
            setTimeout( function() { $inp.prop( 'checked', true ) }, 0);
        }

        $( event.target ).blur();

        console.log( options );
        return false;
      });
    });
  </script>
<% end %>
