<div class="container">

  <% @tasks.each do |task| %>
    <div><%= task.specialty.name %></div>
    <div><%= task.priority %></div>
    <div><%= task.name %></div>
    <div><%= task.description %></div>
    <div><%= task.budget %></div>
    <div><%= task.status %></div>
    <div><%= task.start %></div>
    <div><%= task.finish %></div>
    <%= link_to 'Check', project_specialty_task_path(task.specialty.project, task.specialty, task) %>
    <%= link_to 'Edit', edit_project_specialty_task_path(task.specialty.project, task.specialty, task) %>
    <%= link_to "Delete task", project_specialty_task_path(task.specialty.project, task.specialty, task),
      method: :delete,
      data: { confirm: "Are you sure?" } %>
  <% end %>
</div>
