<h1>TASK NAME : <%= @task.name %></h1>

<p> Specialty: <%= @task.specialty.name %></p>
<% unless @task.user.nil?  %>
  <p><%= @task.user.username %></p>
<% end %>

<p><%= @task.priority %></p>
<p><%= @task.description %></p>
<p><%= @task.budget %></p>
<p><%= @task.status %></p>
<p><%= @task.start %></p>
<p><%= @task.finish %></p>

<%= link_to "All tasks", project_specialty_tasks_path(@task.specialty.project, @task.specialty) %>
<%# link_to  "Add a new task", new_project_task_path %>
<%= link_to 'Edit', edit_project_specialty_task_path(@task.specialty.project, @task.specialty, @task) %>
<%= link_to "Delete task", project_specialty_task_path(@task.specialty.project, @task.specialty, @task),
      method: :delete,
      data: { confirm: "Are you sure?" } %>
