    <div class="profile-header-wrapper" style="background-image: url('<%= image_path 'project-show.png' %>');">
      <div class="container profile-header-container text-center">
        <div class="profile-header-infos">
          <%= @user.photo ? cl_image_tag(@user.photo.path) : image_tag(@user.facebook_picture_url) %>
          <h1><%=@user.first_name%> <%=@user.last_name%></h1>
          <h2><%=@user.email%></h2>
        </div>
        <div class="tabs">
          <a class="tab active" href="#">
            <h3><%= @user.projects.length %></h3>
            <p> projects </p>
          </a>
          <a class="tab" href="#">
            <h3>27</h3>
            <p> contributors </p>
          </a>
          <a class="tab" href="#">
            <h3>54</h3>
            <p> reviews </p>
          </a>
          <a class="tab" href="#">
            <h3>13</h3>
            <p> something else </p>
          </a>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="product">
        <div class='product-upvote'>
          <div class="product-arrow"></div>
          <div class='product-count'></div>
        </div>
        <div class='product-body'>
          <h3> project title </h3>
          <p> project title </p>
        </div>
        <ul class="list-inline product-controls">
          <li><a href=""><i class="fa fa-heart"></i></a></li>
          <li><a href=""><i class="fa fa-share"></i></a></li>
          <li><a href=""><i class="fa fa-star"></i></a></li>
        </ul>
    </div>
      <!-- <div class="product">
        <div class='product-upvote'>
          <div class="product-arrow"></div>
          <div class='product-count'></div>
        </div>
        <img src="images/uslide.jpg" alt="" class="product-image">
        <div class='product-body'>
          <h3> title of user's project </h3>
          <p> description of said project </p>
        </div>
        <ul class="list-inline product-controls">
          <li><a href=""><i class="fa fa-heart"></i></a></li>
          <li><a href=""><i class="fa fa-share"></i></a></li>
          <li><a href=""><i class="fa fa-star"></i></a></li>
        </ul>
      </div>
      <div class="product">
        <div class='product-upvote'>
          <div class="product-arrow"></div>
          <div class='product-count'></div>
        </div>
        <img src="images/roadstr.jpg" alt="" class="product-image">
        <div class='product-body'>
          <h3> title of user's project </h3>
          <p> description of said project </p>
        </div>
        <ul class="list-inline product-controls">
          <li><a href=""><i class="fa fa-heart"></i></a></li>
          <li><a href=""><i class="fa fa-share"></i></a></li>
          <li><a href=""><i class="fa fa-star"></i></a></li>
        </ul>
      </div> -->
