<div>
  <div>
    <div class="profile-header-wrapper" style="background-image: url('<%= image_path 'project-show.png' %>');">
      <div class="container profile-header-container text-center">
        <div class="profile-header-infos">
          <%= @user.photo ? cl_image_tag(@user.photo.path) : image_tag(@user.facebook_picture_url) rescue "" %>
          <h1><%=@user.first_name%> <%=@user.last_name%></h1>
          <h2><%=@user.email%></h2>
        </div>
        <div class="tabs">
          <a class="tab active" href="#">
            <h3><%= @user.projects.length %></h3>
            <p> projects </p>
          </a>
          <a class="tab" href="#">
            <h3>27</h3>
            <p> contributors </p>
          </a>
          <a class="tab" href="#">
            <h3>54</h3>
            <p> reviews </p>
          </a>
          <a class="tab" href="#">
            <h3>13</h3>
            <p> something else </p>
          </a>
        </div>
      </div>
    </div>

    <div class="container">
      <% @user.projects.each do |project| %>
      <div class="product">
        <div class='product-upvote'>
          <div class="product-arrow"></div>
          <div class='product-count'></div>
        </div>
        <%= link_to project_path(project) do %>
        <div class="product-image" style="background-image: url('<%= cl_image_path project.cover.path, crop: :fill, width: 150, height: 100 rescue "" %>')">
        </div>
        <% end %>
        <div class='product-body'>
          <h3><%= project.title %></h3>
          <p><%= project.description %></p>
        </div>
        <ul class="list-inline product-controls">
          <% project.contributors.each do |user| %>
          <%= cl_image_tag user.photo.path, class: "avatar" rescue "" %>
        <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>
