<% @specialties.each do |s| %>
  <div class="nav-card">
    <div class="card-title">
      <h2><%= link_to "#{s.name.upcase}", project_specialty_path(@project,s) %></h2>
      <p><%= s.start.strftime("%Y %b %d") %> - <%= s.finish.strftime("%Y %b %d") %></p>
    </div>
    <div class="card-avatars">
      <%= render 'shared/contributor_list', tasks: s.tasks %>
    </div>
  </div>
<% end %>
 <div class="add-card">
  <span><%= link_to "", new_project_specialty_path(@project), class:"fa fa-plus" %></span>
</div>


