<div class="main-container">
  <div class="row">
    <div class="col-xs-12 head-section">
      <h1> <%= link_to "", project_path(@project), class:"fa fa-chevron-left" %> <%=  @specialty.name.upcase %>  <span> <%= link_to "", edit_project_specialty_path(@project, @specialty), class:"fa fa-pencil" %> <%= link_to "", project_specialty_path(@specialty), class:'fa fa-trash', method: :delete %></span> </h1>
      <p>
        <span><%= @specialty.start.strftime("%d %b %Y ") %></span> -
        <span><%= @specialty.finish.strftime("%d %b %Y ") %></span> -
        <% @specialty.is_dependent_on.each do |d| %>
          <span> Dependent of <%= link_to d.name, project_specialty_path(@project, d) %></span>
        <% end %>
      </p>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100">
          <%= @specialty.progress %>%
        </div>
        <script>document.querySelector(".progress-bar").style.width = "<%= @specialty.progress %>%";</script>
      </div>
    </div>
  </div>
  <div class="row project-wrapper">
    <div class="col-xs-12 col-sm-3 project-content-wrapper">
      <%= render "shared/navcard_tasks" %>
    </div>
    <div class="col-xs-12 col-sm-9 project-content-wrapper">
      <div class="gantt-container" style="overflow: scroll;">
        <svg id="gantt"></svg>
      </div>
      <div class="btn-group mt-1 mx-auto">
        <button id="gantt-day" type="button" class="gantt-period btn btn-sm btn-secondary">Day</button>
        <button id="gantt-week" type="button" class="gantt-period btn btn-sm btn-secondary">Week</button>
        <button id="gantt-month" type="button" class="gantt-period btn btn-sm btn-secondary">Month</button>
      </div>
    </div>
  </div>
</div>

<%= content_for(:after_js) do %>
  <script>
    <%# raise %>
  var railsGantt = new RailsGantt("#gantt", <%= raw JSON.generate(@tasks) %>);
  railsGantt.gantt.change_view_mode('Month')

  document.querySelectorAll(".gantt-period").forEach(function(button) {
    button.addEventListener("click", function(event) {
      railsGantt.gantt.change_view_mode(event.currentTarget.innerHTML);
      document.querySelectorAll(".gantt-period").forEach(function(button) {
        button.classList.remove("active");
      });
      event.currentTarget.classList.add("active");
    });
  });

</script>
<% end %>

<%= form_tag tasks_gantt_update_path(@project, @specialty), method: :patch, remote: true, id: "hidden_gantt_form" do %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag :tasks, "", id: "gnatt_tasks_input"  %>

  <%= hidden_field_tag :task_changed, "", id: "task_changed_id"  %>

<% end %>
