
<div class="container">

  <div class="section">
    <h1><%= @specialty.name %></h1>
    <p><%= @specialty.dependencies %></p>
    <p><%= @specialty.custom_class %></p>
    <p><%= @specialty.start.strftime("%Y-%m-%d") %></p>
    <p><%= @specialty.finish.strftime("%Y-%m-%d") %></p>
    <p><%= @specialty.progress %></p>
    <% @specialty.users.each do |u| %>
      <p><%= u.username %></p>
    <% end %>

    <div>
      <%= link_to "Edit specialty", edit_project_specialty_path(@project, @specialty), class:'button' %>
    </div>

    <dir>
      <%= link_to "Delete specialty", project_specialty_path(@specialty), class:'button', method: :delete %>
    </dir>

    <div>
      <a href="#" class="btn-treehouse">message my team</a>
    </div>
  </div>
  <div class="section">
    <h2>Specialties  <%= link_to "Add a new task", new_project_specialty_task_path(@project, @specialty) %></h2>

  </div>
  <div class="gantt-container" style="overflow: scroll;">
    <svg id="gantt"></svg>

    <%= form_tag project_specialty_task_path(@project, @specialty, 1), method: :patch, remote: true, id: "hidden_gantt_form" do %>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <%= hidden_field_tag :tasks, "", id: "gnatt_tasks_input"  %>
    <% end %>
  </div>
</div>
<!-- <a href="#" class="btn-treehouse">message my team</a> -->


<!-- <h2> Location of the specialty (Geocoding?) </h2>

<h2> (Maybe on to the right side) Location of the specialty (Geocoding?) </h2>

<p>a button could be handy if we <%= link_to "a handy button", class: "btn-treehouse" %> want to send a message to everyone involved in the job</p> -->

<%= content_for(:after_js) do %>
  <script>
  var railsGantt = new RailsGantt("#gantt", <%= raw JSON.generate(@specialties) %>);
  railsGantt.gantt.change_view_mode('Month')
</script>
<% end %>
