  <div class="container" style="text-align: center">
    <h1>YOUR DASHBOARD</h1>
  </div>
  <div class="dashboard-container">
    <div class="dashboard-tabs">
      <div class="dashboard-tab active"> ONGOING PROJECTS </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <% unless @projects.empty? %>
        <% @projects.each do |project| %>
        <div class="col-xs-12 col-sm-4">
          <%= link_to project_path(project) do %>
          <div class="card project-card" style="background-image: url('<%= cl_image_path project.cover.path rescue "" %>')">
            <div class="card-category"></div>
            <div class="card-description">
              <h2> <%= project.title %> </h2>
              <p> <%=project.start_date%> - <%=project.end_date%> </p>
            </div>
            <% project.contributors.each do |user| %>

              <%= cl_image_tag user.photo.path, class: "avatar" rescue "" %>

            <% end %>
            </div>
          <% end %>
        </div>
        <% end %>
      <% end %>

    </div>
  </div>
  <div class="container" style="text-align: center">
    <h1> •••• </h1>
  </div>
  <div class="dashboard-container">
    <div class="dashboard-tabs">
      <div class="dashboard-tab active"> OUTSTANDING TASKS </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <% @tasks.each do |task| %>
        <div class="col-xs-12 col-sm-3">
          <%= link_to project_path(task.specialty.project) do %>
          <div class="card project-card" style="background-image: url('<%= cl_image_path project.cover.path rescue ""%>')">
            <div class="card-category"></div>
            <div class="card-description">
              <h2> <%= task.name %> </h2>
              <p> <%= task.specialty.project.title %> </p>
            </div>
            <%= render 'shared/contributor_list', tasks: [task] %>

            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
