<div class="main-container">
  <div class="row">
    <div class="col-xs-12 head-section">
      <h1> <%= @project.title.upcase %> <%= link_to "", edit_project_path(@project), class:"fa fa-pencil" %> <%= link_to "", @project, class:'fa fa-trash', method: :delete %></h1>
      <p> Starting on
        <span><strong><%= @project.start_date.strftime("%b %d, %Y") %></strong></span>  and expected to finish on
        <span><strong><%= @project.end_date.strftime("%b %d, %Y") %></strong></span>
      </p>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
          <%= @project.total_progress %>%
        </div>
        <script>document.querySelector(".progress-bar").style.width = "<%= @project.total_progress %>%";</script>
      </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-3">
      <%= render "shared/navcard_specialties" %>
    </div>
    <div class="col-xs-12 col-sm-9">
      <div class="gantt-container" style="overflow: scroll;">
        <svg id="gantt"></svg>
      </div>
    </div>
  </div>
</div>

<%= content_for(:after_js) do %>
  <script>
  var railsGantt = new RailsGantt("#gantt", <%= raw JSON.generate(@specialties.as_gantt_tasks) %>);
  railsGantt.gantt.change_view_mode('Month')
</script>
<% end %>

<%= form_tag specialties_gantt_update_path(@project), method: :patch, remote: true, id: "hidden_gantt_form" do %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag :tasks, "", id: "gnatt_tasks_input"  %>
  <%= hidden_field_tag :task_changed, "", id: "task_changed_id"  %>
<% end %>
