<div class="text-center">
  <h1> <%= @project.title %> </h1>
  <p> <%= @project.description %> </p>
  <p> budget: <%= @project.projected_budget %></p>
  <p> address: <%= @project.address %> </p>
  <p><strong>Timespan:</strong>
    <p>your project's slated to begin <%= @project.start_date %> and wrap up <%= @project.end_date %></p>
<!--   <p><%= @project.status %></p>
 -->
</div>

<div class="text-center">
  <%= link_to "assign task(s)", edit_project_path(@project), class:'btn btn-primary' %>
  <p> wanna make tweaks or even scrap it and start over? </p>
  <%= link_to "tweak it", edit_project_path(@project), class:'btn btn-primary' %> ||
  <%= link_to "scrap it", @project, class:'btn btn-primary', method: :delete %>
</div>
