<div class="full-wrapper ">
  <div class="row">
    <div class="col-xs-3">
      <div class="sidebar-wrapper">
        <div class="sidebar-nav">
            <%= render "shared/navcard_specialties" %>
        </div>
      </div>
    </div>
    <div class="col-xs-9">
      <div class="page-content-wrapper">
        <div class="page-content">
          <div class="container">
            <div class="section">
              <h3><%= @project.title %> <%= link_to "", edit_project_path(@project), class:"fa fa-pencil" %> <%= link_to "", @project, class:'fa fa-trash', method: :delete %></h3>
              <p><%= @project.description %></p>
              <p><%= @project.projected_budget %></p>
              <p><%= @project.address %></p>
              <p><%= @project.start_date.strftime("%Y-%m-%d") %></p>
              <p><%= @project.end_date.strftime("%Y-%m-%d") %></p>
              <p><%= @project.status %></p>
              <div><a href="#" class="btn-treehouse">message my team</a></div>
            </div>
            <h2>Specialties  <%= link_to "", new_project_specialty_path(@project), class:"fa fa-plus" %></h2>
            <div class="gantt-container" style="overflow: scroll;">
              <svg id="gantt"></svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= content_for(:after_js) do %>
  <script>
  var railsGantt = new RailsGantt("#gantt", <%= raw JSON.generate(@specialties.as_gantt_tasks) %>);
  railsGantt.gantt.change_view_mode('Month')
</script>
<% end %>

<%= form_tag specialties_gantt_update_path(@project), method: :patch, remote: true, id: "hidden_gantt_form" do %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag :tasks, "", id: "gnatt_tasks_input"  %>
  <%= hidden_field_tag :task_changed, "", id: "task_changed_id"  %>
<% end %>
