<div class="full-wrapper ">
  <div class="row">
    <div class="col-xs-3">
      <div class="sidebar-wrapper">
        <div class="sidebar-nav">
            <%= render "shared/navcard" %>
        </div>
      </div>
    </div>
    <div class="col-xs-9">
      <div class="page-content-wrapper">
        <div class="page-content">
          <div class="container">
            <div class="section">
              <h3><%= @project.title %> <%= link_to "", edit_project_path(@project), class:"fa fa-pencil" %> <%= link_to "", @project, class:'fa fa-trash', method: :delete %></h3>
              <p><%= @project.description %></p>
              <p><%= @project.projected_budget %></p>
              <p><%= @project.address %></p>
              <p><%= @project.start_date %></p>
              <p><%= @project.end_date %></p>
              <p><%= @project.status %></p>
              <div><a href="#" class="btn-treehouse">message my team</a></div>
            </div>
            <h2>Specialties  <%= link_to "Add a new specialty", new_project_specialty_path(@project) %></h2>
            <div class="gantt-container" style="overflow: scroll;">
              <svg id="gantt"></svg>
              <%= form_tag project_path(@project), method: :patch, remote: true, id: "hidden_gantt_form" do %>
                <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                <%= hidden_field_tag :tasks, "", id: "gnatt_tasks_input"  %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="container">

</div> -->
<!-- <a href="#" class="btn-treehouse">message my team</a> -->


<!-- <h2> Location of the project (Geocoding?) </h2>

<h2> (Maybe on to the right side) Location of the project (Geocoding?) </h2>

<p>a button could be handy if we <%= link_to "a handy button", class: "btn-treehouse" %> want to send a message to everyone involved in the job</p> -->

<%= content_for(:after_js) do %>
  <script>
  var railsGantt = new RailsGantt("#gantt", <%= raw JSON.generate(@specialties) %>);
  railsGantt.gantt.change_view_mode('Month')
</script>
<% end %>
