
<div>
  <h1><%= @project.title %></h1>
  <p><%= @project.description %></p>
  <p><%= @project.projected_budget %></p>
  <p><%= @project.address %></p>
  <p><%= @project.start_date %></p>
  <p><%= @project.end_date %></p>
  <p><%= @project.status %></p>
<div>


<a href="#" class="btn-treehouse">message my team</a>


<h2> Location of the project (Geocoding?) </h2>

<h2> (Maybe on to the right side) Location of the project (Geocoding?) </h2>

<p>a button could be handy if we <%= link_to "a handy button", class: "btn-treehouse" %> want to send a message to everyone involved in the job</p>



